$colors: (
  "text": (
    "text-1": #fff,
    "text-2": #090b0e,
    "text-3": #3d4c5e,
    "text-4": #4e2fda,
    "text-5": #fb3189,
    "text-6": #ff0a54,
    "text-7": #ffe7ee,
    "text-8": #f6f8f9,
    "text-9": #fee0ed,
    "text-10": #f6f8f9,
    "text-11": #adff1c,
    "text-12": #0a2828,
    "text-13": #2e00ff,
    "text-14": #ff6610,
    "text-15": #0d47a1,
    "text-16": #1b6cfc,
    "text-17": #6455e1,
    "text-18": #081120,
  ),
  "bg": (
    "bg-1": #4e2fda,
    "bg-2": #ede9f8,
    "bg-3": #c8bff4,
    "bg-4": #edeafb,
    "bg-5": #febfda,
    "bg-6": #cac6fd,
    "bg-7": #ffe8a4,
    "bg-8": #d4ffd6,
    "bg-9": #e2e0f2,
    "bg-10": #fb3189,
    "bg-11": #3a3658,
    "bg-12": #4e3a7a,
    "bg-13": #ffeaf3,
    "bg-14": #fff5f9,
    "bg-15": #f6f8f9,
    "bg-16": #fff6f9,
    "bg-17": #adff1c,
    "bg-18": #104041,
    "bg-19": rgba(173, 255, 28, 0.1),
    "bg-20": rgba(10, 40, 40, 0.1),
    "bg-21": #ffe8a4,
    "bg-22": #cac6fd,
    "bg-23": #d4ffd6,
    "bg-24": #0d47a1,
    "bg-25": #ff6610,
    "bg-26": #1b6cfc,
    "bg-27": #fccc8a,
    "bg-28": #6455e1,
  ),
  "border": (
    "border-1": #e5e7eb,
    "border-2": #dfdcdc,
  ),
);
